.blog-nav {
    background: $jumbotron-bg;
    > nav {
        @extend .contained;
        display: flex;
        padding: 0 2em;

        a {
            color: $black;
            display: block;
            padding: 0.5em 1.5em;
            //border-right: 1px solid rgba($white,0.3);
            border-bottom: 2px solid transparent;
            padding: 1em;
            //margin-right: 0.5em;

            &:last-child {
                margin-right: 0;
            }
        }
        a.selected,
        a:hover {
            color: $link-color;
            border-bottom: 2px solid $link-color;
        }
    }
}

.blog-cards-wrapper {
    padding: 2em 0;
    @include mappy-bp(desktop) {
        padding: 3em 0;
    }
    > div {
        @extend .contained;
    }
    .blog-cards {
        padding: 0 2em;
        display: flex;
        flex-direction: column;

        @include mappy-bp(tablet) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 2em;
            grid-row-gap: 3.5em;
        }

        @include mappy-bp(desktop) {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
    .blog-card {
        background: $white;
        overflow: hidden;
        margin-bottom: 4em;

        &:last-child {
            margin-bottom: 0;
        }
        @include mappy-bp(tablet) {
           margin-bottom: 0; 
        }

        @include mappy-bp(desktop) {
            width: auto;
        }

        > img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            border-radius: 5px;
        }
        > div > span {
            margin: 1em 0;
            display: flex;
            align-items: center;
            color: #999999;
            font-size: 0.9em;
        }
        > div > span > img { // clap icon
            height: 1.5em;
            margin-right: 5px;
        }
        h2 {
            line-height: 1.25em;
        }
        h2 + p { // snippet
            height: 6em;
            overflow: hidden;
            font-weight: 400;
        }
        .author-info {
            display: flex;
            align-items: center;
            img {
                width: 2.5em;
                height: 2.5em;
                object-fit: cover;
                border-radius: 50%;
                margin-right: 1em;
            }
            > div {
                display: flex;
                flex-direction: column;
                line-height: 1.25;

                .author-name { // author link
                    font-weight: 800;

                }
                .author-name + span { // DATE
                    font-size: 0.9em;
                }
            }
        }

        &:first-child { // featured
            @include mappy-bp(tablet) {
                grid-column-start: 1; 
                grid-column-end: 3;

                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-gap: 2em;

                > img {
                    width: 100%;
                    height: 300px;
                    object-fit: cover;
                    border-radius: 5px;
                    grid-column-start: 1; 
                    grid-column-end: 3;
                }
            }
            @include mappy-bp(desktop) {
                grid-column-start: 1; 
                grid-column-end: 4;

                h2 {
                    margin-top: 0;
                }
            }
        }
    }
}

.center-blog-element {
    
    @include mappy-bp(tablet) {
        max-width: 75rem;
        margin-left: auto !important;
        margin-right: auto !important;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

.blog-post {
    //@extend .contained;
    padding: 1.5em;

    @include mappy-bp(tablet) {
        padding: 0;
    }

    h1.title {
        font-size: 2.5em;
        margin: 1em 0;
        @extend .center-blog-element;
    }
    p.description {
        font-size: 1.5em;
        line-height: 1.25em;
        margin: 1em auto 2em;
        @extend .center-blog-element;
    }

    .post-content {
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.75;

        > * {
            margin: 2em 0;
            @extend .center-blog-element;
        }

        img {
            display: block;
            max-width: 100%;
        }

        p {
            font-size: 1.2rem;
            line-height: 1.75;
            margin: 2em auto;

            img {
                max-width: 100%;
            }
        }

        ul, ol {
            padding-left: 4em;
        }

        blockquote {
            padding: 0 2em;
            font-size: 1.25em;
            font-style: italic;
            max-width: calc(75rem - 10em);
        
            * {
                font-size: inherit;
                padding: 0;
                margin: 0;
            }
        
            &:before {
                content: "...";
                display: block;
                text-align: center;
                padding: 0 0 1em;
                letter-spacing: 0.75em;
                font-weight: bold;
            }
            &:after {
                content: "...";
                display: block;
                text-align: center;
                padding: 1em 0 0;
                letter-spacing: 0.75em;
                font-weight: bold;
            }
        }
    }

    .img-left {
        @include mappy-bp(tablet) {
            float: left;
            margin: 0 2em 1em 0;
        }
    }

    .img-right {
        @include mappy-bp(tablet) {
            float: right;
            margin: 0 0 1em 2em;
        }
    }

    .img-center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        clear: both;
        text-align: center;
    }

    .img-contained {
        @extend .center-blog-element;
    }

    .img-full {
        width: 100%;
        max-width: 100%;
        padding: 0;
    }

    .clear {
        clear: both;
    }

    .taglist {
        display: flex;
        align-items: center;
        @extend .center-blog-element;

        ul {
            display: flex;
            list-style: none;
            flex-direction: row;
            margin: 0;
            padding: 0;
        }

        li {
            margin-right: 1em;
            margin-left: 0;

            a {
                background: $link-color;
                color: $white;
                display: block;
                padding: 0.5em 1em;
                border-radius: 3px;

            }
        }
    }
}



.blog-author-wrapper {
    @extend .center-blog-element;
}

.blog-author {
    display: flex;
    margin: 5em 0 0;
    border: 1px solid $border-color;
    padding: 2em;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    flex-direction: column;

    h4 {
        font-size: 1.75em;
        margin: 0 0 1em;
        text-align: center;

        @include mappy-bp(tablet) {
            display: none;
        }
    }

    .author-info-wrapper {
        justify-content: center;
        display: flex;
        flex-direction: column;

        @include mappy-bp(tablet) { 
            flex-direction: row;
            align-items: center;
        }

        h4 {
            display: none;
            text-align: left;
    
            @include mappy-bp(tablet) {
                display: block;
            }
        }
    }

    .author-headshot {
        height: 10em;
        width: 10em;
        border-radius: 50%;
        object-fit: cover;
        margin: 0 auto 2em;
        @include mappy-bp(tablet){
            margin: 0 2em 0 0;
        }
    }

    p {
        margin: 0 0 2em;
        text-align: center;
        font-weight: 400;

        @include mappy-bp(tablet) {
            text-align: left;
        }
    }

    .social {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        @include mappy-bp(tablet) {
            justify-content: flex-start;
        }

        > span {
            font-weight: 400;
            margin-right: 0.5em;
        }

        a {
            background-color: black;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.5em;
            border-radius: 3px;
            margin-right: 5px;
            margin-bottom: 5px;
            width: 1em;
            height: 1em;

            &:last-child {
                margin-right: 0;
            }

            &.facebook { background-color: $facebook; }
            &.instagram { background-color: $instagram; }
            &.twitter { background-color: $twitter; }
            &.google-plus { background-color: $google-plus; }
            &.linkedin { background-color: $linkedin; }
            &.medium { background-color: $medium; }
            &.dribbble { background-color: $dribbble; }
        }
    }
}



.tags-page {
    padding: 2em 2em;

    @include mappy-bp(tablet) {
        padding: 2em 1em;
    }

    > div {
        @extend .contained;
    }

    .section-title {
        text-align: left;
        margin: 0 0 2rem;
    }

    .taglist {
        list-style: none;
        margin: 0;
        padding: 0;
        line-height: 1.5em;

        display: grid;
        grid-gap: 1em;

        @include mappy-bp(tablet) {
            grid-template-columns: repeat(3, 1fr);
        }

        li a {
            background: $link-color;
            color: $white;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            padding: 0.5em 1em;
            border-radius: 3px;
            font-weight: bold;

            span {
                background: rgba($black,0.35);
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 0.5em;
                padding: 0.10em 0.5em;
                border-radius: 5px;
                font-weight: normal;
                font-size: 0.9em;
            }
        }
    }
    .postlist {
        list-style: disc;
        margin: 0;
        padding: 0;
        line-height: 1.5em;

        margin: 1em 0 3em 1em;

        li {
            margin-bottom: 0.5em;
        }
        li a {
            //background: $link-color;
            color: $link-color;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            //padding: 0.5em 1em;
            border-radius: 3px;
            font-weight: bold;
            font-size: 1.5rem;
            line-height: 1.25;
        }
    }
    .browse-tags a {
        font-size: 1.25em;
    }
}