.case-studies {
    padding: 2em 0;
    > div {
        @extend .contained;
    }

    h3 {
        text-align: center;
    }

    .case-studies-cards {
        padding: 0 2em 2em;
        overflow: auto;
        display: flex;

        @include mappy-bp(desktop) {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-column-gap: 2em;
        }
    }
    .case-studies-card {
        background: $white;
        border-radius: 10px;
        overflow: hidden;
        border: 1px solid #EEEEEE;
        box-shadow: 0 5px 4px 0 rgba(225,225,225,0.50);
        flex: 1 0 18em;
        margin-right: 2em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    
        @include mappy-bp(desktop) {
            width: auto;
            margin: 0;
        }
        img {
            width: 100%;
            height: 195px;
            object-fit: cover;
        }
        h3 {
            margin: 0;
            padding: 1rem;
        }
        .btn {
            margin: 0 1rem 1rem;
        }
    }
}