.top-nav {
    background: $jumbotron-bg;
    
    .burger-menu {
        position: absolute;
        width: 2em;
        left: 2em;

        @include mappy-bp(desktop) {
            display: none;
        }
    }

    > div {
        @extend .contained;
        position: relative;
        display: flex;
        justify-content: center;
        align-content: center;
        padding: 2em 0;

        @include mappy-bp(desktop) {
            padding: 2em;
            justify-content: space-between;
        }
    }

    a {
        display: block;
    }

    h1 {
        margin: 0;
        height: auto;
        width: 3em;
    }

    nav {
        display: none;

        @include mappy-bp(desktop) {
            display: flex;
            align-items: center;
        }
    }

    nav a {
        margin-right: 2em;
        color: $black;

        &:last-child {
            margin-right: 0;
        }
    }

    nav a.btn {
        color: $white;
    }
}
.mobile-menu {
	-webkit-overflow-scrolling: touch;
    background-color: $white;
    bottom: 0;
    height: 100%;
    left: 0;
    overflow-y: auto;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
	z-index: 2;
    display: none;

    &.show {
        display: block;
    }

    .close-button {
        position: absolute;
        width: 2em;
        left: 2em;
        top: 2em;

        @include mappy-bp(desktop) {
            display: none;
        }
    }

    h1 {
        margin: 1em auto;
        height: auto;
        width: 3em;
        a {
            display: block;
            text-align: center;
        }
    }

    nav {
        display: flex;
        flex-direction: column;

        a {
            font-size: 1.2em;
            display: block;
            width: 100%;
            padding: 2em 0;
            text-align: center;
            border-bottom: 1px solid $border-color;
        }
        a.btn {
            margin: 2em auto;
            width: 80%;
            color: $white;
        }
    }
}