.contained {
    //padding: 1.5em;

    @include mappy-bp(desktop) {
        max-width: $container-size;
        margin: 0 auto;
        padding: 0;
    }
}




.section-title {
    text-align: center;
    font-weight: normal;
    font-size: 1.75em;
    margin-bottom: 2em;
}


.call-to-action {
    background: $jumbotron-bg;
    padding: 4em 0;
    text-align: center;

    p {
        font-size: 1.5em;
        padding: 0 2em;
        margin: 0 0 1em;

        @include mappy-bp(desktop) {
            font-size: 2em;
            padding: 0;
        }
    }

    a {
        width: 250px;
        display: block;
        margin: 0 auto;
    }
}

a.btn {
    display: flex;
    padding: 1em;
    background-image: linear-gradient(-90deg, #F16860 0%, #FCB76E 97%);
    border-radius: 50px;
    color: $white;
    justify-content: center;
    align-items: center;
}


.footer {
    color: $border-color;

    .footer-links {
        padding: 3em 2em;
        @extend .contained;

        @include mappy-bp(desktop) {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
        }

        a {
            color: $border-color;
        }

        .links {
            display: flex;
            justify-content: center;
            flex-direction: row;

            @include mappy-bp(desktop) {
                flex-direction: column;
            }
        }

        .links a {
            display: block;
            line-height: 1.75em;
            margin-right: 1em;
            &:last-child {
                margin-right: 0;
            }
            @include mappy-bp(desktop) {
                margin-right: 0;
            }
            &:hover {
                color: $link-color;
            }
        }

        .social {
            margin-top: 2em;
            text-align: center;
            @include mappy-bp(desktop) {
                margin: 0;
                text-align: left;
            }
            
            p {
                margin: 0 0 1em;
            }
            .icons {
                a {
                    display: block;
                    margin: 1em;
                }
            }
        }
    }
    .subscribe-wrapper {
        display: flex;
        justify-content: center;
        margin-bottom: 2em;
        @include mappy-bp(desktop) {
            margin-bottom: 0;
            display: block;
            order: 4;
        }
    }
    .subscribe {
        display: flex;
        input[type="email"] {
            border-radius: 50px 0 0 50px;
            border: 1px solid $border-color;
            border-right: 0;
            padding: 1em;
        }
        input[type="submit"] {
            display: flex;
            padding: 1em;
            background-image: linear-gradient(-90deg, #F16860 0%, #FCB76E 97%);
            border-radius: 0 50px 50px 0;
            color: $white;
            justify-content: center;
            align-items: center;
            border: none;
        }
    }
}

.copyright {
    border-top: 1px solid #EEEEEE;
    text-align: center;
    padding: 2em 0;
}


.privacy {
    > div {
        @extend .contained;
        padding: 2em;

        h2 { font-size: 2em; }
        h3 { font-size: 1.75em; margin: 2em 0 1em; }
        h4 { font-size: 1.5em; }

        p, ul {
            line-height: 1.5em;
        }
    }
}