.contained {
    //padding: 1.5em;

    @include mappy-bp(desktop) {
        max-width: $container-size;
        margin: 0 auto;
        padding: 0;
    }
}


.jumbotron {
    background: $jumbotron-bg;
    position: relative;

    @include mappy-bp(desktop) {
        height: calc(90vh - 115px);
    }

    > div {
        @extend .contained;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-content: center;

        @include mappy-bp(tablet) {
            flex-direction: row;
        }
    }

    > div > div {
        align-self: center;
        justify-content: center;
        width: 75%;
        text-align: center;

        @include mappy-bp(tablet) {
            width: auto;
            text-align: left;
            padding-left: 2em;
        }

        h2 {
            margin: 0;
            font-size: 1.5em;
            line-height: 1.25;

            @include mappy-bp(desktop) {
                font-size: 2em;
            }
        }
        p {
            margin: 2em 0;
            line-height: 1.5;
            font-size: 1em;

            @include mappy-bp(desktop) {
                font-size: 1.25em;
            }
        }
        a {
            width: 100px;
            margin: 0 auto;

            @include mappy-bp(tablet) {
                width: 200px;
                margin: 0;
            }
        }
    }

    img {
        align-self: center;
        position: relative;
        width: 80%;
        @include mappy-bp(tablet) {
            width: 50%;
        }
        @include mappy-bp(desktop) {
            //right: -5em;
            height: 90%;
            width: 100%;
            align-self: flex-end;
        }
    }
    
}

.section-title {
    text-align: center;
    font-weight: normal;
    font-size: 1.75em;
    margin-bottom: 2em;
}


.call-to-action {
    background: $jumbotron-bg;
    padding: 4em 0;
    text-align: center;

    p {
        font-size: 1.5em;
        padding: 0 2em;
        margin: 0 0 1em;

        @include mappy-bp(desktop) {
            font-size: 2em;
            padding: 0;
        }
    }

    a {
        width: 250px;
        display: block;
        margin: 0 auto;
    }
}

a.btn {
    display: flex;
    padding: 1em;
    background-image: linear-gradient(-90deg, #F16860 0%, #FCB76E 97%);
    border-radius: 50px;
    color: $white;
    justify-content: center;
    align-items: center;
}


.footer {
    color: $border-color;

    .footer-links {
        padding: 3em 2em;
        @extend .contained;

        @include mappy-bp(desktop) {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
        }

        a {
            color: $border-color;
        }

        .links {
            display: flex;
            justify-content: center;
            flex-direction: row;

            @include mappy-bp(desktop) {
                flex-direction: column;
            }
        }

        .links a {
            display: block;
            line-height: 1.75em;
            margin-right: 1em;
            &:last-child {
                margin-right: 0;
            }
            @include mappy-bp(desktop) {
                margin-right: 0;
            }
            &:hover {
                color: $link-color;
            }
        }

        .social {
            margin-top: 2em;
            text-align: center;
            @include mappy-bp(desktop) {
                margin: 0;
                text-align: left;
            }
            
            p {
                margin: 0 0 1em;
            }
            .icons {
                a {
                    display: block;
                    margin: 1em;
                }
            }
        }
    }
    .subscribe-wrapper {
        display: flex;
        justify-content: center;
        margin-bottom: 2em;
        @include mappy-bp(desktop) {
            margin-bottom: 0;
            display: block;
            order: 4;
        }
    }
    .subscribe {
        display: flex;
        input[type="email"] {
            border-radius: 50px 0 0 50px;
            border: 1px solid $border-color;
            border-right: 0;
            padding: 1em;
        }
        input[type="submit"] {
            display: flex;
            padding: 1em;
            background-image: linear-gradient(-90deg, #F16860 0%, #FCB76E 97%);
            border-radius: 0 50px 50px 0;
            color: $white;
            justify-content: center;
            align-items: center;
            border: none;
        }
    }
}

.copyright {
    border-top: 1px solid #EEEEEE;
    text-align: center;
    padding: 2em 0;
}
.team-info {
    img {
        width: 100%;
        display: block;
        max-height: 40em;
        object-fit: cover;
    }
    p {
        text-align: center;
        font-size: 1.5em;
        padding: 3em 0;
    }
}
.team-members {
    padding: 4em 0;
    background: $jumbotron-bg;
    > div {
        @extend .contained;
    }
    h3 {
        text-align: center;
    }
    .team-member-cards {
        padding: 0 2em;
        display: flex;
        flex-direction: column;

        @include mappy-bp(tablet) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 2em;
        }

        @include mappy-bp(desktop) {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
    .team-member-card {
        background: $white;
        border-radius: 10px;
        overflow: hidden;
        border: 1px solid #EEEEEE;
        box-shadow: 0 5px 4px 0 rgba(225,225,225,0.50);
        margin-bottom: 2em;

        &:last-child {
            margin-bottom: 0;
        }
        @include mappy-bp(tablet) {
           margin-bottom: 0; 
        }

        @include mappy-bp(desktop) {
            width: auto;
        }

        img {
            width: 100%;
            height: 200px;
            object-fit: cover;
        }
        > div {
            padding: 1em;
        }
        h3, h4 {
            margin: 0 auto;
            text-align: center;
        }
        h3 {
            margin-bottom: 0.25em;
        }
        h4 {
            font-weight: normal;
        }
    }
}

.privacy {
    > div {
        @extend .contained;
        padding: 2em;

        h2 { font-size: 2em; }
        h3 { font-size: 1.75em; margin: 2em 0 1em; }
        h4 { font-size: 1.5em; }

        p, ul {
            line-height: 1.5em;
        }
    }
}