$breakpoints: (
    'desktop-lg': 1200px,
    'desktop': 1024px,
    'tablet': 768px,
    'mobile': 480px,
    'small': 375px,
);

// Colors
$jumbotron-bg: #F3F3FF;
$text-color: #111111;
$link-color: #F79368;
$border-color: #D8D8D8;
$footer-link-color: #CCCCCC;

$light-text-color: lighten($text-color,50%);

$white: #FFFFFF;
$black: #111111;

$medium: #00ab6c;
$twitter: #1da1f2;
$facebook: #3b5998;
$instagram: #405de6;
$google-plus: #dd4b39;
$linkedin: #0077b5;
$dribbble: #ea4c89;

// Fonts
$roboto: 'Roboto', Helvetica, Arial, sans-serif;

// Sizes
$container-size: 75rem;