$breakpoints: (
    'desktop-lg': 1200px,
    'desktop': 1024px,
    'tablet': 768px,
    'mobile': 480px
);

// Colors
$jumbotron-bg: #F3F3FF;
$text-color: #111111;
$link-color: #F79368;
$border-color: #D8D8D8;
$footer-link-color: #CCCCCC;

$light-text-color: lighten($text-color,50%);

$white: #FFFFFF;
$black: #111111;

// Fonts
$roboto: 'Roboto', Helvetica, Arial, sans-serif;

// Sizes
$container-size: 75rem;